* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.education-entry,
.work-entry,
.project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 40px;
  color: navy; /* MY ADDITION */
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

a {
  color: #1199C3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #F3F3F3;
  line-height: 28px;
}

#skillsH3 {
  color: navy; /* MY ADDITION */
  display: none;
}

#skills {
  display: none;
}

.orange {
  background-color: #F5AE23;
}

.orange-text {
  color: #F5AE23;
}

.white-text {
  font-weight: bold;
  color: #FFFFFF;
}

.gray {
  background-color: #F3F3F3;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #4A4A4A;
}

/* TODO: Replace with image later */
#header {
  background-color: #14b0b0; /* MY addition */
}

.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 5%;
}

ul {
  list-style-type: circle;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }

  .biopic {
    width: 150px;
  }

  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
  background-color: #F3F3F3;  /* MY ADDITION */
  overflow: hidden;           /* MY ADDITION */
}

/* MY ADDITION */
@media only screen and (max-width: 400px) {
  #skillsChart {
    display: none;
  }

  #mapDiv {
    background-color: #FFF;
  }

  .project-entry {
    padding-left: 1%;
    padding-right: 1%;
  }

  .project-entry img {
    width: 300px;
  }
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  #skills,
  .biopic {
    display: block;
  }
}

/*----  My Additions below ----*/
#topContacts,
#skills,
#footerContacts {
  list-style: none;
}

#footerContacts {
  background-color: #14b0b0;
}

/*  infoWindow stlye */
.info-content {
  width: 370px;
  height: 310px;
  margin: 10px;
  text-align: center;
}

/* chart style classes */
.row {
  height: 30px;
  margin: 5px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.bar {
  width: 500px;
  height: 30px;
  background-color: #18B3F5;
  display: inline-block;
}

.skill {
  font: 18px sans-serif;
  width: 150px;
  height: auto;
  text-align: right;
  line-height: 150%;
  margin-right: 10px;
}

.navy-text {
  color: navy;
}

.footer-head {
  background-color: navy;
  color: #fff;
}

.clear {
  clear: both;
}
